.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("./assets/header-hero.jpg");

  /* Set a specific height */
  height: 300px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: #282c34;
  padding: 20px 30px;
}

.tutorial-preview-image {
  background-color: #282c34;
  width: 100%;
  height: 200px;
  background-image:url("./assets/default-tut-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.list-tutorial-heading {
  border-bottom: 1px solid #282c34;
  padding: 5px 0;
  margin-top: 20px;
}

.tutorial-preview-container{
  display: none;
  padding: .75rem 1.25rem;
}

.tutorial-preview-container.active{
  display: block;
}

.list-group-item {
  padding: 0;
}
.list-tutorial-item-heading
{
  display: block;
  width: 100%;
  height: 100%;
  padding: .75rem 1.25rem;
}

.btn-close-active-tutorial{
  position: absolute;
  right: 0;
  top: 0;
}

.tutorial-ref-link{
  color: #FFF;
  text-decoration: underline;
}

.tutorial-ref-link:visited{
  color: #FFF;
  text-decoration: underline;
}

ul.started li{
 background-color: #fdfadf;
}

ul.waiting li{
  background-color: #ffeeee;
 }

 ul.done li{
  background-color: #defedf;
 }

.list-group-item.active{
  background-color: #525252;
 }